<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: template (~{::head}, ~{::body}, ~{::scripts})}">
<head>
    <title>Первый запуск</title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <style amp-custom>
        amp-story {
            font-family: 'Arial, sans-serif';
        }
    </style>
</head>
<body>

<amp-story standalone
           title="My AMP Web Story"
           publisher="Your Name"
           publisher-logo-src="https://example.com/logo.png"
           poster-portrait-src="https://example.com/poster.png">

    <!-- Slide 1: Static Image -->
    <amp-story-page id="page1">
        <amp-story-grid-layer template="fill">
            <amp-img src="https://placehold.co/1080x1920?text=Слайд+про+бота"
                     width="720"
                     height="1280"
                     layout="responsive"
                     alt="Image 1"></amp-img>
        </amp-story-grid-layer>
    </amp-story-page>

    <!-- Slide 2: Static Image -->
    <amp-story-page id="page2">
        <amp-story-grid-layer template="fill">
            <amp-video autoplay loop
                       width="720"
                       height="1280"
                       layout="responsive"
                       poster="https://placehold.co/1080x1920?text=Слайд+про+навигацию"
                       src="https://s3.timeweb.cloud/d9448f39-76ed7011-ed95-4f47-a2d5-bc09db949407/IMG_9413.MP4">
            </amp-video>
        </amp-story-grid-layer>
    </amp-story-page>

    <!-- Slide 3: Static Image -->
    <amp-story-page id="page3">
        <amp-story-grid-layer template="fill">
            <amp-video autoplay loop
                       width="720"
                       height="1280"
                       layout="responsive"
                       poster="https://placehold.co/1080x1920?text=Слайд+про+навигацию"
                       src="https://s3.timeweb.cloud/d9448f39-76ed7011-ed95-4f47-a2d5-bc09db949407/34.MP4">
            </amp-video>
        </amp-story-grid-layer>
    </amp-story-page>

    <!-- Slide 4: Video -->
    <amp-story-page id="page4">
        <amp-story-grid-layer template="fill">
            <amp-img src="https://placehold.co/1080x1920?text=Слайд+про+миниприложение"
                     width="720"
                     height="1280"
                     layout="responsive"
                     alt="Image 2"></amp-img>
        </amp-story-grid-layer>
    </amp-story-page>

    <!-- Slide 5: Video -->
    <amp-story-page id="page5">
        <amp-story-grid-layer template="fill">
            <amp-story-grid-layer template="fill">
                <amp-img src="https://placehold.co/1080x1920?text=Слайд+про+сообщество"
                         width="720"
                         height="1280"
                         layout="responsive"
                         alt="Image 3"></amp-img>
            </amp-story-grid-layer>
        </amp-story-grid-layer>
    </amp-story-page>

</amp-story>

</body>
<th:block th:fragment="scripts">
    <th:block th:fragment="scripts">
        <script th:inline="javascript">
            Telegram.WebApp.setHeaderColor("#000000")
            Telegram.WebApp.setBackgroundColor("#000000")
            Telegram.WebApp.setBottomBarColor("#000000")
            Telegram.WebApp.BackButton.onClick(function () {
                window.location.href = "/profile"
            })
            Telegram.WebApp.BackButton.show();

            Telegram.WebApp.MainButton.text = "Продолжить";
            Telegram.WebApp.onEvent('mainButtonClicked', function () {
                window.location.href = "/first-run?step=last-step"
            });
            Telegram.WebApp.MainButton.show();
            Telegram.WebApp.SecondaryButton.hide();
        </script>
    </th:block>
</th:block>
</html>