<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: template (~{::head}, ~{::body}, ~{::scripts})}">
<head>
    <title>Сообщество "Как дома" Юлии Митрохиной</title>
    <style>
        ul {
            padding-left: 0;
            list-style-type: none;
        }

        ul li {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        .emoji {
            font-size: 32px;
        }

        .text-content {
            flex-grow: 1;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100 px-4">
        <div class="col-lg-6 offset-lg-3">
            <div class="text-center">
                <img class="rounded-circle е"
                     src="https://s3.timeweb.cloud/d9448f39-76ed7011-ed95-4f47-a2d5-bc09db949407/success-payment.jpg"
                     width="140" height="140" alt="Сообщество 'Как дома'">
                <h2 class="mt-2">Сообщество "Как дома" Юлии Митрохиной</h2>
            </div>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-4">
            <ul class="list-unstyled">
                <li class="d-flex align-items-center">
                    <span class="emoji px-2">🌟</span>
                    <div class="text-content">
                        Раскрываем внутреннюю силу и уверенность.
                    </div>
                </li>
                <li class="d-flex align-items-center">
                    <span class="emoji px-2">👭</span>
                    <div class="text-content">
                        Окружение, где тебя поддержат и помогут на пути к личному развитию.
                    </div>
                </li>
                <li class="d-flex align-items-center">
                    <span class="emoji px-2">🎨</span>
                    <div class="text-content">
                        Творчество и идеи с теми, кто понимает и вдохновляет.
                    </div>
                </li>
                <li class="d-flex align-items-center">
                    <span class="emoji px-2">📚</span>
                    <div class="text-content">
                        Учимся и применять знания на практике.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<th:block th:fragment="scripts">
    <script th:inline="javascript">
        Telegram.WebApp.isClosingConfirmationEnabled = false;
        Telegram.WebApp.MainButton.text = "Присоединиться";
        Telegram.WebApp.MainButton.hasShineEffect = true;
        Telegram.WebApp.onEvent('mainButtonClicked', function () {
            window.location.href = "/subscribe";
        });

        Telegram.WebApp.SecondaryButton.text = "О проекте";
        Telegram.WebApp.onEvent('secondaryButtonClicked', function () {
            Telegram.WebApp.openLink("https://mitrohinayulya.ru/project", {try_instant_view: true});
        });

        Telegram.WebApp.MainButton.show();
        Telegram.WebApp.SecondaryButton.show();
        Telegram.WebApp.BackButton.hide();
    </script>
</th:block>
</html>