<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: template (~{::head}, ~{::body}, ~{::scripts})}">
<head>
    <meta charset="UTF-8">
    <title>Последний шаг</title>
</head>
<body>
<div class="container mt-3">
    <!-- Форма оплаты -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Добро пожаловать, в мое сообщество 🙏</h1>
            <div class="card">
                <div class="card-body">
                    <p>Теперь ты готова присоединиться и начать свой путь к новым открытиям.</p>
                    <p>Вперед, к новому опыту! 🚀</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <h6 class="alert-heading">Нужен повтор обучения?</h6>
                <small>Жми на кнопку ниже, чтобы посмотреть снова</small>
                <hr>
                <p class="mb-0">
                    <button class="btn btn-sm btn-outline-primary"
                            onclick="window.location.href = '/onboarding'">
                        Повторить
                    </button>
                </p>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="alert alert-warning" role="alert">
                <h6 class="alert-heading">Правила сообщества</h6>
                <small>Присоединяясь к моему сообществу, ты соглашаешься соблюдать простые и понятные правила, такие же как и в обычной жизни.</small>
                <small>Давай вместе создавать комфортную атмосферу для всех участников!</small>
                <hr>
                <p class="mb-0">
                    <button class="btn btn-sm btn-outline-secondary"
                            onclick="Telegram.WebApp.openLink('https://mitrohinayulya.ru/society-rules', { try_instant_view: true })">
                        Ознакомиться с правилами
                    </button>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <h6 class="alert-heading">Возникли вопросы?</h6>
                <small>Если возникают затруднения, то смелее пиши моей службе заботы👩‍💼</small>
                <small>Обязательно сохрани себе в контакты</small>
                <hr>
                <p class="mb-0">
                    <button class="btn btn-sm btn-outline-primary"
                            onclick="Telegram.WebApp.openTelegramLink('https://t.me/fenomen_mitrohina_assistant'); return false;">
                        Написать в службу заботы
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

<th:block th:fragment="scripts">
    <script th:inline="javascript">
        Telegram.WebApp.MainButton.text = "Перейти в сообщество";
        Telegram.WebApp.MainButton.hasShineEffect = true;
        Telegram.WebApp.onEvent('mainButtonClicked', function () {
            Telegram.WebApp.openTelegramLink([[${@environment.getProperty('app.telegram.societyLink')}]]);
        });
        Telegram.WebApp.MainButton.show();
        Telegram.WebApp.SecondaryButton.hide();
        Telegram.WebApp.BackButton.hide();
    </script>
</th:block>
</html>