<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: template (~{::head}, ~{::body}, ~{::scripts})}">
<head>
    <title>Профиль</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .transaction-item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 10px 0;
            border-bottom: 1px solid #e5e5e5;
        }

        .transaction-item .left-section {
            display: flex;
            flex-direction: column;
        }

        .transaction-item .transaction-title {
            /*font-weight: bold;*/
            margin: 0;
            font-size: 14px;
        }

        /*.transaction-item .transaction-type {*/
        /*    color: #777;*/
        /*    font-size: 12px;*/
        /*}*/

        .transaction-item .right-section {
            text-align: right;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .transaction-item .amount {
            /*font-weight: bold;*/
            color: #000;
        }

        .transaction-item .date-time {
            color: #777;
            font-size: 12px;
        }
    </style>

</head>

<body>
<div class="container mt-2">
    <div class="accordion" id="accordionExample">
        <!-- Профиль -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Профиль
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form th:action="@{/api/profile/update}" method="post" id="profileForm">
                        <!-- Имя -->
                        <div class="mb-3" th:classappend="${firstRun} ? 'd-none' : ''">
                            <label for="firstName">Имя</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" th:value="${profileForm.firstName}" required>
                        </div>

                        <div class="mb-3" th:classappend="${firstRun} ? 'd-none' : ''">
                            <label for="lastName">Фамилия</label>
                            <input type="text" id="lastName" name="lastName" class="form-control" th:value="${profileForm.lastName}" required>
                        </div>

                        <div class="mb-3" th:classappend="${firstRun} ? 'd-none' : ''">
                            <label for="phone">Телефон</label>
                            <input type="tel" id="phone" name="phone" class="form-control" th:value="${profileForm.phone}" required pattern="^\+?[0-9]{10,15}$" title="Введите корректный номер телефона">
                        </div>

                        <div class="mb-3" th:classappend="${firstRun} ? 'd-none' : ''">
                            <label for="email">Электронная почта</label>
                            <input type="email" id="email" name="email" class="form-control" th:value="${profileForm.email}" required>
                        </div>

                        <div class="mb-3">
                            <label for="dateOfBirth">Дата рождения</label>
                            <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control"
                                   th:value="${profileForm.dateOfBirth != null ? #temporals.format(profileForm.dateOfBirth, 'yyyy-MM-dd') : ''}">
                            <div class="form-text">Очень хочу поздравить с днем рождения 🌸</div>
                        </div>

                        <div class="mb-3">
                            <label for="city">Город</label>
                            <input type="text" id="city" name="city" class="form-control" th:value="${profileForm.city}">
                        </div>

                        <div class="mb-3">
                            <label for="profession">Профессия</label>
                            <input type="text" id="profession" name="profession" class="form-control" th:value="${profileForm.profession}">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Транзакции -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Транзакции
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="transaction-list" id="transactionList">
                        <!-- Сюда будут загружаться транзакции через JS -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-body" id="toastMessage">
        </div>
    </div>
</div>
</body>
<th:block th:fragment="scripts">
    <script th:inline="javascript">
        // Функция для форматирования даты и времени
        function formatDateTime(dateTimeStr) {
            const dateTime = new Date(dateTimeStr);
            const today = new Date();

            if (dateTime.toDateString() === today.toDateString()) {
                return `${dateTime.getHours()}:${dateTime.getMinutes().toString().padStart(2, '0')}`;
            } else {
                const options = { day: 'numeric', month: 'short' };
                return dateTime.toLocaleDateString('ru-RU', options);
            }
        }

        // Функция для загрузки транзакций
        function loadTransactions() {
            fetch(`/transactions`)  // telegramId должен быть передан сюда
                .then(response => {
                    // Отладка: проверить статус ответа
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const transactionList = document.getElementById('transactionList');
                    transactionList.innerHTML = ''; // Очищаем список перед добавлением

                    // Отладка: вывести полученные данные
                    console.log('Данные транзакций:', data);

                    if (data.length === 0) {
                        // Если транзакции отсутствуют, выводим сообщение
                        transactionList.innerHTML = '<div class="text-center">Транзакции отсутствуют</div>';
                    } else {
                        data.forEach(transaction => {
                            const transactionItem = `
                        <div class="transaction-item mb-2">
                            <div class="left-section">
                                <div class="transaction-type">Подписка</div>
                            </div>
                            <div class="right-section">
                                <div class="amount">${transaction.amount} ${transaction.currency}</div>
                                <div class="date-time">${formatDateTime(transaction.dateTime)}</div>
                            </div>
                        </div>
                    `;
                            transactionList.innerHTML += transactionItem;
                        });
                    }
                })
                .catch(error => console.error('Ошибка загрузки транзакций:', error));
        }


        document.addEventListener('DOMContentLoaded', function () {
            loadTransactions();  // Вызываем функцию загрузки при загрузке страницы
        });
    </script>

    <script th:inline="javascript">
        const form = document.getElementById('profileForm');
        let initialFormDataString = JSON.stringify(Object.fromEntries(new FormData(form).entries()));

        const toastEl = document.getElementById('liveToast');
        const toastMessage = document.getElementById('toastMessage');
        const toast = new bootstrap.Toast(toastEl);

        function isFormChanged() {
            const currentFormDataString = JSON.stringify(Object.fromEntries(new FormData(form).entries()));
            return currentFormDataString !== initialFormDataString;
        }

        function checkFormValidity() {
            // Проверка валидности формы
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }
        }

        //TODO добавить иконку загрузки и сделать async
        function saveData() {
            // Сбор данных формы
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            // Отправка данных на сервер
            fetch('/api/profile/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    /* 'X-CSRF-TOKEN': Добавьте здесь токен CSRF, если требуется */
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        Telegram.WebApp.MainButton.hide();
                        initialFormDataString = JSON.stringify(data); // Обновляем исходные данные
                        toastMessage.textContent = '✅ Данные успешно сохранены.';
                        toast.show();
                    } else {
                        toastMessage.textContent = '❌Ошибка при сохранении данных: ' + JSON.stringify(response.body);
                        toast.show();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    toastMessage.textContent = '❌ Ошибка при сохранении данных: ' + error;
                    toast.show();
                });
        }
    </script>
    <script th:inline="javascript" th:if="${firstRun}">
        Telegram.WebApp.isClosingConfirmationEnabled = true;
        Telegram.WebApp.BackButton.hide()
        Telegram.WebApp.MainButton.text = "Продолжить";
        Telegram.WebApp.MainButton.hasShineEffect = true;
         Telegram.WebApp.onEvent('mainButtonClicked', function () {
             if (isFormChanged()) {
                 checkFormValidity()
                 saveData()
                 window.location.href = "/onboarding"
             } else {
                 let params = {}
                 params.title = "Вы заполнили не все данные в профиле. 😞"
                 params.message = "Мы хотели бы лучше узнать вас, чтобы сделать ваше пребывание в сообществе ещё более полезным и персонализированным. Хотя заполнение профиля необязательно, ваша информация поможет нам предлагать более подходящие рекомендации и активности."
                 params.buttons = [{
                     "id": "skip",
                     "type": "default",
                     "text": "Пропустить"
                 }, {
                     "type": "default",
                     "text": "Заполнить"
                 }]
                 Telegram.WebApp.showPopup(params, function (id) {
                     if (id === "skip") {
                         window.location.href = "/onboarding"
                     }
                 })
             }
         })
        Telegram.WebApp.MainButton.show();
    </script>
    <script th:inline="javascript" th:if="${!firstRun}">

        Telegram.WebApp.BackButton.onClick(function () {
            window.location.href = "/"
        })

        form.addEventListener('input', function() {
            if (isFormChanged()) {
                Telegram.WebApp.isClosingConfirmationEnabled = true;
                Telegram.WebApp.MainButton.setText("Сохранить изменения");
                Telegram.WebApp.MainButton.show();
            } else {
                Telegram.WebApp.isClosingConfirmationEnabled = false;
                Telegram.WebApp.MainButton.hide();
            }
        });

        Telegram.WebApp.MainButton.onClick(function () {
            checkFormValidity()
            saveData()
        });

        Telegram.WebApp.BackButton.show();
        Telegram.WebApp.MainButton.hide();
        Telegram.WebApp.SecondaryButton.hide();
    </script>
</th:block>

</html>