<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: template (~{::head}, ~{::body}, ~{::scripts})}">
<head>
    <title>Оплата подписки</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
<div class="container mt-2">
    <!-- Форма оплаты -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h6>Подписка</h6>
            <h2>₽2990 в месяц</h2>
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/pay}" th:object="${profilePaymentForm}" method="post" id="profilePaymentForm" class="needs-validation" novalidate>
                        <!-- Поле 'Имя' -->
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Имя:</label>
                            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required minlength="2" maxlength="100">
                            <div class="invalid-feedback">Имя должно содержать не менее 2 символов.</div>
                        </div>

                        <!-- Поле 'Фамилия' -->
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Фамилия:</label>
                            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required minlength="2" maxlength="100">
                            <div class="invalid-feedback">Фамилия должна содержать не менее 2 символов.</div>
                        </div>

                        <!-- Поле 'Телефон' -->
                        <div class="mb-3">
                            <label for="phone" class="form-label">Телефон:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="+79990001122" th:field="*{phone}" required pattern="[+]{1}[0-9]{11,14}">
                            <div class="form-text">
                                Никакого спама и рекламы. Обещаю!
                            </div>
                            <div class="invalid-feedback">Введите корректный номер телефона. Начинается с + (например, +7 для РФ)</div>
                        </div>

                        <!-- Поле 'Email' -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="example@mail.com"  th:field="*{email}" required maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                            <div class="invalid-feedback">Введите корректный email. Используйте только латинские буквы.</div>
                        </div>

                        <small>
                            Оплачивая данный заказ, вы соглашаетесь с
                            <a href="https://mitrohinayulya.ru/privacy/society" target="_blank">политикой обработки персональных данных</a>
                            и
                            <a href="https://mitrohinayulya.ru/agreement/society" target="_blank">пользовательским соглашением</a>.
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:fragment="scripts">
    <script th:inline="javascript">
        Telegram.WebApp.isClosingConfirmationEnabled = true;
        Telegram.WebApp.MainButton.text = "Купить за 2990₽";
        Telegram.WebApp.MainButton.hasShineEffect = true;
        Telegram.WebApp.onEvent('mainButtonClicked', function () {
            document.getElementById('profilePaymentForm').requestSubmit();
        });
        Telegram.WebApp.MainButton.show();
        Telegram.WebApp.SecondaryButton.hide();
        Telegram.WebApp.BackButton.hide();
    </script>

    <script th:inline="javascript">
        //TODO исправить валидацию
        $(document).ready(function () {
            'use strict';

            // Получаем все формы с классом .needs-validation для валидации Bootstrap
            var forms = document.querySelectorAll('.needs-validation');

            // Добавляем событие валидации для всех форм с классом .needs-validation
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    // Проверяем, прошла ли форма стандартную валидацию и валидны ли телефон и email
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();

                        // Добавляем класс для отображения валидации Bootstrap
                        form.classList.add('was-validated');
                    } else {
                        // Очищаем телефон от маски (оставляем только цифры) перед отправкой формы
                        var cleanPhone = phone.replace(/\D/g, '');
                        $('#phone').val(cleanPhone);
                        form.classList.add('was-validated');
                        form.submit();
                    }
                }, false);
            });
        });
    </script>
</th:block>
</html>