<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: template (~{::head}, ~{::body}, ~{::scripts})}">
<head>
    <title>Оплата подписки</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <style>
        .payment-option.selected {
            background-color: #4aa5ff !important;
            color: #fff !important;
            border-color: #6093d3 !important;
        }
    </style>
</head>
<body>
<div class="container mt-2">
    <!-- Форма оплаты -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h6>Подписка</h6>
            <h2>₽2990 в месяц</h2>
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/pay}" th:object="${profilePaymentForm}" method="post" id="profilePaymentForm" class="needs-validation" novalidate>
                        <input type="hidden" id="telegramIdField" th:field="*{telegramId}" th:value="${profilePaymentForm.telegramId}" />

                        <!-- Поле 'Имя' -->
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Имя:</label>
                            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required minlength="2" maxlength="100">
                            <div class="invalid-feedback">Имя должно содержать не менее 2 символов.</div>
                        </div>

                        <!-- Поле 'Фамилия' -->
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Фамилия:</label>
                            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required minlength="2" maxlength="100">
                            <div class="invalid-feedback">Фамилия должна содержать не менее 2 символов.</div>
                        </div>

                        <!-- Поле 'Телефон' -->
                        <div class="mb-3">
                            <label for="phone" class="form-label">Телефон:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="+79990001122" th:field="*{phone}" required pattern="^\+[1-9]{1}[0-9]{3,14}$">
                            <div class="form-text">
                                Никакого спама и рекламы. Обещаю!
                            </div>
                            <div class="invalid-feedback">Введите корректный номер телефона. Начинается с + (например, +7 для РФ)</div>
                        </div>

                        <!-- Поле 'Email' -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="example@mail.com" th:field="*{email}" required maxlength="100" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                            <div class="invalid-feedback">Введите корректный email. Используйте только латинские буквы.</div>
                        </div>

                        <!-- Основная карта и кнопка с информацией для оплаты сохраненной картой -->
                        <div class="mt-4" th:if="${primaryCard != null}">
                            <p>Способ оплаты:</p>
                            <div class="mt-3 d-flex justify-content-center">
                                <button type="button" id="paySavedCardButton" class="btn payment-option text-dark bg-white border d-flex align-items-center"
                                        th:data-telegram-id="${profilePaymentForm.telegramId()}"
                                        th:data-card-token="${primaryCard.token}"
                                        onclick="selectPaymentMethod(this, 'saved')"
                                        style="width: 400px;">
                                    <!-- Логотип карты -->
                                    <div class="left-section me-2">
                                        <th:block th:if="${primaryCard.cardType == 'Visa'}">
                                            <img src="/images/visa-logo.png" alt="Visa" class="card-logo"/>
                                        </th:block>
                                        <th:block th:if="${primaryCard.cardType == 'MasterCard'}">
                                            <img src="/images/mastercard-logo.png" alt="MasterCard" class="card-logo"/>
                                        </th:block>
                                        <th:block th:if="${primaryCard.cardType == 'MIR'}">
                                            <img src="/images/mir-logo.png" alt="МИР" class="card-logo"/>
                                        </th:block>
                                    </div>
                                    <span th:text="${primaryCard.cardExpDate}" style="margin-left: auto"></span>
                                </button>
                            </div>

                            <!-- Кнопка для оплаты новой картой -->
                            <div class="mt-3 d-flex justify-content-center">
                                <button type="button" id="payNewCardButton" class="btn payment-option text-dark bg-white border"
                                        th:data-telegram-id="${profilePaymentForm.telegramId()}"
                                        onclick="selectPaymentMethod(this, 'new')"
                                        style="width: 400px;">
                                    Оплатить новой картой
                                </button>
                            </div>
                        </div>


                        <!-- Индикатор загрузки -->
                        <div id="loadingIndicator" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                            <img src="/images/loading.gif" alt="Loading..." />
                        </div>


                        <small>
                            Оплачивая данный заказ, вы соглашаетесь с
                            <a href="https://mitrohinayulya.ru/privacy/society" target="_blank">политикой обработки персональных данных</a>
                            и
                            <a href="https://mitrohinayulya.ru/agreement/society" target="_blank">пользовательским соглашением</a>.
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:fragment="scripts">
    <script th:inline="javascript">
        let selectedMethod = '';

        function selectPaymentMethod(button, method) {
            // Убираем выделение с обеих кнопок
            document.querySelectorAll('.payment-option').forEach(btn => btn.classList.remove('selected'));

            button.classList.add('selected');

            selectedMethod = method;

            Telegram.WebApp.MainButton.text = "Купить за 2990₽";
            Telegram.WebApp.MainButton.show();
        }
        Telegram.WebApp.onEvent('mainButtonClicked', function () {
            if (selectedMethod === 'saved') {
                payWithSavedCard();
            } else if (selectedMethod === 'new') {
                Telegram.WebApp.onEvent('mainButtonClicked', function () {
                    document.getElementById('profilePaymentForm').requestSubmit();
                });
            }
        });

        function payWithSavedCard() {
            const button = document.getElementById('paySavedCardButton');
            const token = button.getAttribute('data-card-token');
            const telegramId = button.getAttribute('data-telegram-id');
            const price = 2990.00;
            const description = "Оплата подписки на 1 мес. Сообщество \"Как дома\" Юлии Митрохиной";

            // Показать индикатор загрузки
            document.getElementById('loadingIndicator').style.display = 'block';

            fetch('/tokens/charge', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    Amount: price,
                    Currency: 'RUB',
                    AccountId: telegramId,
                    TrInitiatorCode: 0,
                    Token: token,
                    Description: description
                })
            })
                .then(response => {
                    // Скрыть индикатор загрузки после получения ответа
                    document.getElementById('loadingIndicator').style.display = 'none';

                    if (response.ok) {
                        window.location.href = "/success";
                    } else {
                        window.location.href = "/fail";
                    }
                })
                .catch(error => {
                    // Скрыть индикатор загрузки в случае ошибки
                    document.getElementById('loadingIndicator').style.display = 'none';
                    console.error('Ошибка:', error);
                    window.location.href = "/fail";
                });
        }


    </script>
    <script th:inline="javascript">
        //TODO исправить валидацию
        $(document).ready(function () {
            'use strict';

            // Получаем все формы с классом .needs-validation для валидации Bootstrap
            var forms = document.querySelectorAll('.needs-validation');

            // Добавляем событие валидации для всех форм с классом .needs-validation
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    // Проверяем, прошла ли форма стандартную валидацию и валидны ли телефон и email
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                        console.warn("Form wasn't validated");
                        Bugsnag.notify("Form wasn't validated");

                        // Добавляем класс для отображения валидации Bootstrap
                        form.classList.add('was-validated');
                    } else {
                        // Очищаем телефон от маски (оставляем только цифры) перед отправкой формы
                        var cleanPhone = phone.replace(/\D/g, '');
                        $('#phone').val(cleanPhone);
                        form.classList.add('was-validated');
                        form.submit();
                    }
                }, false);
            });
        });
    </script>
</th:block>
</html>