<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: template (~{::head}, ~{::body}, ~{::scripts})}">
<head>
    <title>Успешная оплата</title>
</head>
<body>
<div class="container mt-4">
    <!-- Форма оплаты -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Ты успешно оплатила подписку 🎉</h1>
            <div class="card">
                <div class="card-body">
                    <p>Спасибо за доверие и рада приветствовать тебя в моем сообществе ☺️</p>
                    <div th:if="${firstRun}">
                        <p>Чтобы сделать твое пребывание ещё более комфортным и полезным, предлагаю заполнить твой
                            профиль. Это поможет нам лучше узнать вас и предлагать персонализированные рекомендации и
                            активности</p>
                        <p>Жми на кнопку ниже, чтобы начать заполнение 👇</p>
                    </div>
                    <!--<p id="next-billing-date">Идет загрузка даты следующего списания...</p>
                    <p>Чтобы отменить автоматическое продление, перейдите в свой профиль</p>-->
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3" th:if="${!firstRun}">
            <div class="alert alert-info" role="alert">
                <h6 class="alert-heading">Нужен повтор обучения?</h6>
                <small>Жми на кнопку ниже, чтобы посмотреть снова</small>
                <hr>
                <p class="mb-0">
                    <button class="btn btn-sm btn-outline-primary"
                            onclick="window.location.href = '/onboarding'">
                        Повторить
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

<th:block th:fragment="scripts">
    <script th:inline="javascript">
        function checkSubscription() {
            fetch('/api/subscription/current')
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        setTimeout(checkSubscription, 1000); // Повторяем запрос через 1 секунду
                    }
                })
                .then(data => {
                    if (data) {
                        var date = new Date(data.subscriptionDate);
                        date.setMonth(date.getMonth() + 1);
                        document.getElementById('next-billing-date').innerText = 'Дата следующего списания: ' + date.toLocaleDateString('ru-RU');
                    }
                })
                .catch(error => console.error('Ошибка при получении подписки', error));
        }

        checkSubscription();
    </script>
    <script th:inline="javascript" th:if="${firstRun}">
        Telegram.WebApp.isClosingConfirmationEnabled = true;
        Telegram.WebApp.MainButton.text = "Заполнить профиль";
        Telegram.WebApp.MainButton.hasShineEffect = true;
        Telegram.WebApp.onEvent('mainButtonClicked', function () {
            window.location.href = "/profile";
        });
        Telegram.WebApp.MainButton.show();
    </script>

    <script th:inline="javascript" th:if="${!firstRun}">
        Telegram.WebApp.isClosingConfirmationEnabled = false;
        Telegram.WebApp.MainButton.text = "К сообществу";
        Telegram.WebApp.onEvent('mainButtonClicked', function () {
            Telegram.WebApp.openTelegramLink([[${@environment.getProperty('app.telegram.society-link')}]]);
        });
        Telegram.WebApp.MainButton.show();

        Telegram.WebApp.SecondaryButton.text = "Профиль";
        Telegram.WebApp.SecondaryButton.position = "right";
        Telegram.WebApp.onEvent('secondaryButtonClicked', function () {
            window.location.href = "/profile"
        });
        Telegram.WebApp.SecondaryButton.show();
    </script>
</th:block>
</html>